<%- include('layouts/header') %>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-primary   " href="/customer">
          <h5>
            <%= username %>
          </h5>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/bank">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customerdeposite">Deposit </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customerWithdraw">Withdraw </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customerTransaction">Transaction </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/customerCheck">Check My account </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customerloan">Take a loan </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customercreditcard">Make a credit card </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customerdepitcard">Make a debit card </a>
            </li>

          </ul>

        </div>

      </nav>
      <%- messages('partials/my_message_template') %>
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h2 class="display-4">Welcome, <%= username %>
          </h2>

        </div>
      </div>


      <div class="container ">
        <form method="post">
          <div class="row">


            <div class="col-md-6 ">
              <div class="profile-head">

                <ul class="nav nav-tabs ">
                  <li  class="nav-item ">
                   <h2 class="blue"> Basic info</h2>
                  </li>

                </ul>
              </div>
            </div>

          </div>


          <div class="row h4">
            <div class="col-md-8">

              
                <div class="row">
                  
                  <div class="col-md-6">
                    <label> </label>

                  </div>
                  <div class="col-md-6">
                  </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-6">
                    <label>User ID :</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= ID %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Name :</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= username %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Email :</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= Email %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Phone :</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= PhoneNo %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Birthday Date :</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= BDate %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Address :</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= Address %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Job :</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= Job %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Work Name :</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= WorkName %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Work Address :</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= WorkAddress %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Salary :</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= Salary %></p>
                  </div>
                </div>
              
             
            </div>
          </div>
        </form>
        <div class="row"><a class="btn btn-outline-primary" href="/customerchangepassword" role="button">Change PassWord</a></div>
      </div>
      
    </div>





    <%- include('layouts/footer') %>