<%- include('layouts/header') %>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand text-primary  " href="/manager">
        <h5><%= username %></h5>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/bank">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/withdraw">Withdrawals </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/deposit">Deposits</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/transaction">Transactions </a>
          </li>
          <li class="nav-item  active">
            <a class="nav-link" href="/loan">Loans </a>
          </li>
       
        </ul>
      </div>

    </div>

    </nav>

    
    <%- messages('partials/my_message_template') %>
    <% if (typeof errors !=='undefined' ) { %>
      <% errors.forEach(error=> { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>
            <%= error.msg %>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <% }); %>
          <% } %>

    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid text-center">
        <h2 class="display-4">GALAXY BANK
        </h2>

      </div>
    </div>

    <div class="container ">
    <form novalidate action="/loan" method="POST">
      <div class="form-row">
        <label  for="date" class="col-sm-3 col-form-label col-form-label-lg"><h4>By Date: </h4></label>
        <div class="col-sm-10 col-md-4 mb-5 ">
          <input type="date" class="form-control form-control-lg" name="date" value="2000-12-12">
        </div>
      </div>
  <div class="form-row">

        <label class="col-sm-2 col-form-label col-form-label-lg">
            <h4>Order By: </h4>
        </label>
       
            <select class="col-sm-10 col-md-4 mb-5 col-form-label-lg form-select form-select-lg col-sm-3 "
                aria-label="Default select example" name =order>

                <option value="Create_date">Loan Date</option>
                <option value="FullName">Customers</option>
                <option value="Amount">Money</option>
            </select>

    </div>
      <div class="form-row">
        <div class="form-group  col-sm-10 col-md-4 mb-5 mx-auto "> 
          <button type="submit"   class="btn btn-primary  btn-lg " >Show History</button>
        </div>
      </div>
    </form>
  </div>
<div></div>

  </div>


  <%- include('layouts/footer') %>