<%- include('layouts/header') %>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand text-primary  " href="/manager">
        <h5><%= username %></h5>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/bank">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manageraddemployee">Add employee </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/managerremoveemployee">Remove employee </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/managerRAemployeebranch">Remove/Add employee from/to a branch </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/managerraise">Assign a pay raise </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Managerialstatistics">Managerial Statistics </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/withdraw">Detailed Reports </a>
      </li>

        </ul>
      </div>

    </div>

    </nav>

    
    <%- messages('partials/my_message_template') %>
    <% if (typeof errors !=='undefined' ) { %>
      <% errors.forEach(error=> { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>
            <%= error.msg %>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <% }); %>
          <% } %>

    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid text-center">
        <h2 class="display-4">GALAXY BANK
        </h2>

      </div>
    </div>
    
  
    <div class="col">
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Maximum Salary</th>
                  <th scope="col">Minimum Salary</th>
                  <th scope="col">Average Salary</th>
                  <th scope="col">Employees Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><%= statistics.maxsal %></td>
                  <td><%= statistics.minsal %></td>
                  <td><%= statistics.avgsal %></td>
                  <td><%= statistics.empscount %></td>
                </tr>
              </tbody>
            </table>
    </div>
    <div class="col">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Maximum Working hours</th>
              <th scope="col">Minimum Working Hours</th>
              <th scope="col">Average Working Hours</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><%= statistics.maxhours %></td>
              <td><%= statistics.minhours %></td>
              <td><%= statistics.avghours %></td>
            </tr>
          </tbody>
        </table>
    </div>

  </div>


  <%- include('layouts/footer') %>